:host {
   display: block;
   background-color: #fff;
   min-height: 100vh;
   box-sizing: border-box;
 }
 
 .form-header {
   display: flex;
   align-items: center;
   justify-content: center; 
   position: fixed; 
   top: 0;
   left: 0;
   width: 100%;
   height: 100px;
   background: rgb(206, 220, 247);
   padding: 30px 0;
   margin-top: 0;
   z-index: 1000; 
   color: #041043c1;
   font-size: 20px;
   text-align: center;
   box-sizing: border-box;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
 }
 
 @keyframes colorAnimation {
   0% { background: #526fedc1; }
   33% { background: #112370c1; }
   66% { background: #041043c1; }
   100% { background: #526fedc1; }
 }
 
 .form-header::before,
 .form-header::after {
   content: "";
   position: absolute;
   width: 400px;      
   height: 10px;        
   background: #673ab7;
   animation: colorAnimation 5s infinite ease-in-out;
   z-index: 1; 
 }
 
 .form-header::before {
   top: 0;
   left: 0;
   border-bottom-right-radius: 50px;
 }
 
 .form-header::after {
   bottom: 0;
   right: 0;
   border-top-left-radius: 50px;
 }
 
 .back-arrow {
   position: absolute;
   left: 40px;
   font-size: 35px;  
   font-weight: bold;
   cursor: pointer;
   color: #041043c1;
 }
 
 .form-header h1 {
   margin: 0;
   flex-grow: 1;
   text-align: center;
 }
 
 .content-area {
   margin-top: 160px; 
   
 }
 
 .header-actions {
   display: flex;
   justify-content: flex-end;  
   align-items: center;  
   max-width: 900px;
   margin: 0 auto 20px auto;
   gap: 10px;  
 }
 
 .add-question-btn {
   padding: 12px 24px;
   font-size: 18px;
   font-weight: bold;
 }
 
 .chang-question-container {
   display: flex;
   align-items: center;
 }
 
 .chang-question-container mat-label {
   font-size: 16px;
   color: #000; 
 }
 
 .mat-form-field {
   width: 100%;
 }
 
 .dropdown-width {
   width: 150px;
 }
 
 .question-header {
   display: flex;
   flex-direction: column;
   gap: 15px;
 }
 
 .question-container {
   position: relative;
   background: #dae4f1;  
   padding: 20px 15px;
   border-radius: 15px; 
   max-width: 700px; 
   margin-top: 50px;
   margin-bottom: 20px;
   margin: 30px auto;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 .form-header-box::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;  
   height: 8px; 
   background: #041043c1;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
 }
 input, textarea {
   width: 100%;
   height: 80px;
   padding: 10px;
   border: none; 
   background: transparent; 
   font-size: 18px;
   outline: none; 
   box-shadow: none;
   resize: none;
 }
 
 input:focus, textarea:focus {
   background: #fff;
   border-radius: 8px;
 }
 
 .dropdown-container {
   position: absolute;
   top: 10px;
   right: 20px;
 }
 
 .full-width {
   width: 100%;
 }
 
 
 .pum {
   display: flex; 
   flex-wrap: nowrap; 
   justify-content: flex-start; 
   align-items: center;
   gap: 20px; 
   margin-top: 20px; 
   margin-bottom: 20px; 
 }
 .answer-container {
   display: flex;
   align-items: center;
   gap: 10px;
 }
 
 
 mat-icon {
   cursor: pointer;
   margin-bottom: 15px;
 }
 
 .action-container {
   display: flex;
   justify-content: flex-end;  
   align-items: center;
   gap: 20px; 
   margin-top: 20px; 
   margin-right: 20px;
 }
 
 .action-container button:hover {
   background-color: #CC6D3D;
   color: #fff; 
 }
 
 