.F {
  color: #283467;
}
.profile-icon {
  color: #283467;
  margin-top: 20px; 
  top: 5;
}
.sidenav-container {
   height: 100vh;
 }
 .toolbar {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  background: #ddddf3;
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
}


.title {
  font-size: 28px; 
  text-align: center;
  flex-grow: 1;
  font-weight: bold;
  color: #041043c1; 
  padding-left: 30px;
}
 
 .sidenav {
   width: 250px;
   background: linear-gradient(to bottom, #dce5f0, #457fb3, #245783, #072641);
   text-align: center;
   font-size: 24px;
   color: #041043c1;
 }

 .content-container {
  background-color: 	#F3F3FD ;
  padding: 25px;
}
 .table-container {
   max-height: 80vh;
  background: #d4e1f2;
  margin-top: 20px;
  border-radius: 9px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
 
.logo-form {
  display: block; 
  margin: 0 auto; 
  max-width: 150px; 
  height: auto;
}
.search-container {
  display: flex;
  justify-content: center; 
  align-items: center;    
  margin: 16px 0;       
  width: 100%;         
}

.search-field {
  width: 50%;            
  text-align: center;   
}


.menu-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column; 
}

.menu-list li {
  margin: 8px 10px;
  text-align: center;
 
}

.menu-list li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: block;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
} 

.menu-list li a:hover {
  background-color: #CC6D3D; 
  border-radius: 15px;
  box-sizing: border-box; 
  transition: all 0.3s ease;
}
.menu-list li a.active {
  background-color: #CC6D3D; 
  border-radius: 15px; 
  box-sizing: border-box;
  color: white; 
  font-weight: bold; 
}
.submenu {
  list-style: none;
  margin: 0 auto; 
  padding: 0;
  max-height: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  width: 180px; 
  text-align: center;
  visibility: hidden; 
  transition: max-height 2s ease, visibility 0.4s ease;
}

.submenu.show {
  max-height: 500px;
  padding: 5px;
  visibility: visible;
}


.submenu li a {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 15px; 
  padding: 5px; 
  border: none; 
}

.submenu li a:hover {
  border-radius: 4px;
}
