<div class="form-header">
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>แก้ไขข้อมูลผู้ใช้</h1>
</div>

<div class="content-area">
  <form [formGroup]="userForm" (ngSubmit)="submitUser()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>ชื่อ - นามสกุล</mat-label>
      <input
        matInput
        placeholder="กรอกชื่อและนามสกุล"
        formControlName="full_name"
        required
      />
    </mat-form-field>
    <label for="email">อีเมล</label>
    <mat-form-field appearance="outline" class="full-width">
      <input
        matInput
        placeholder="กรอกอีเมล"
        formControlName="email"
        required
      />
    </mat-form-field>
    <label for="status">สถานะ</label>
    <mat-form-field appearance="outline" class="full-width">
      <mat-select formControlName="status">
        <mat-option [value]="1">Active</mat-option>
        <mat-option [value]="0">Inactive</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="action-container">
      <button mat-raised-button color="primary" type="submit">บันทึก</button>
    </div>
  </form>
</div>
