body, html {
   margin: 0;
   padding: 0;
   width: auto;
   height: 100%;
   box-sizing: border-box;
   background-color: #082c4c;
   
 }
 
 /* header */
 .dash-front {
   width: 100vw;
   background-color: #f8e9d9;
   display: flex;
   align-items: center;
   padding: 10px 20px;
   margin: 0;
 }
 